body{
  background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
}
.nav-title{
align-items: center;
color: blue;
margin-left: 40%;
margin-right: 40%;
font-size: 50px;
display: flex;


}
.navbar{
  text-align: center;
  align-items: center;
  background-color: #92dea7;
  position: fixed;
 
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}
.one{
  color: blueviolet;
  margin-left: 10px;
}
.dashboard-container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  font-weight: bold;
}

.signup-wrapper{
  width: 60%;
  margin: auto;
  padding: 40px;
  border: 0.5px solid rgb(168, 80, 95);
  padding: 25px;
  padding-top: 40px;
 
  
}

.title{
  text-align: center;
  color: blueviolet;

}
.sub-btn{
  text-align: center;
  margin: auto;
}
.signup-dash{
  display: flex;
  margin-bottom: 15px;
  
}
.click-dash{
  margin-right: 6px;
}


table{
  width: 60%;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  
}
table tr:hover{
  background-color: #92dea7;
}